{% if site.sections.c4p %}

  <!-- CALL FOR PAPERS -->
  <section class="c4p" id="c4p">
    <h2 class="section-title">Call for papers</h2>
    <p>BSidesPEI is considering having 2 tracks throughout the day.  Track 1 is open to anyone, and track 2 will be reserved for first time presenters.  We want the event to be a safe fun place for people to engage with the security community and to improve their skills.</p>
    <p>Submissions should be emailed to <a href="mailto:cfp@bsidespei.ca">cfp@bsidespei.ca</a></p>
    <p>The following information should be submitted at minimum:
      <ul>
        <li>Name and contact information (email, phone, LinkedIn, Twitter)</li>
        <li>Title of Presentation</li>
        <li>Abstract of your presentation limited to 200 words or less for use on the B-Sides PEI website</li>
        <li>Speaker Bio for the B-Sides PEI website</li>
        <li>Full description of presentation (if your abstract exceeds 200 words)</li>
        <li>List of presentation requirements, besides the following: power, projector with VGA input, sound, and internet connectivity</li>
      </ul>
    </p>
    <p>Successful speakers will be notified via email as papers are received and selected. Get your papers in soon!
      <ul>
        <li>NOW - CFP open</li>
        <li>July 20th, 2016 - CFP closed  </li>
      </ul>
  </p>
  <p>If you have questions please email <a href="mailto:cfp@bsidespei.ca">cfp@bsidespei.ca</a></p>
  </section>
  <!-- / ABOUT -->

{% endif %}
