{% if site.sections.location %}

  <!-- LOCATION -->
  <section class="location" id="location">
    <h2 class="section-title">{{site.location_section.title}}</h2>
    <p>This year we are very happy to have the historic Rodd's Charlottetown Hotel as our accommodations provider and conference venue - offering special conference discounted rates.  Details of how to <a href="http://2016.northeastphp.org/hotel-accomodations/">book accomodation can be found over at the North East PHP site</a></p>
    {% if site.conf.address != '' %}
      <p><a href="{{site.data.conf.venue.url}}">{{site.data.conf.venue.name}}</a>, {{ site.data.conf.address }}</p>
      <div id="map-canvas" class="location-area" data-address="{{ site.data.conf.address }}"></div>
    {% endif %}

  </section>
  <!-- / LOCATION -->

{% endif %}