{% if site.sections.sponsors %}

  <!-- SPONSORS -->
  <section class="sponsors" id="sponsors">
    <h2 class="section-title">{{site.sponsors_section.title}}</h2>
    <p>BSidesPEI wouldn't be possible without the support and help of the following sponsors. Interested in joining them? Drop us a line <a href="mailto:sponsorship@bsidespei.ca">sponsorship@bsidespei.ca</a></p>
    <ul class="sponsors-list">

    {% for sponsor in site.data.sponsors %}
      <li class="sponsor-item">
        <a class="partner-logo partner-link" href="{{ sponsor.url }}"><img src="{{ site.base_url }}/img/{{ sponsor.logo }}" alt="{{ sponsor.name }}" class="photo" /></a>
      </li>
    {% endfor %}

    {% if site.sponsors_section.show_your_logo_here %}
      <li class="sponsor-item">
        <a class="partner-logo partner-link partner-call" href="#"><img src="{{ site.base_url }}/img/your-logo.jpg" alt="your logo" class="photo" /></a>
      </li>
    {% endif %}
    
    </ul>
  </section>
  <!-- / SPONSORS -->

{% endif %}